*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* navbar css start */

.full-nav{
    background: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    margin: auto;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #E5E7EB;
}

#navbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

#navbar .menu-items{
    display: flex;
    gap: 24px;
    list-style: none;
    
}

#navbar .menu-items li a{
    color: #575757;
    font-weight: 500;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    
}
#navbar .menu-items li a:hover{
    color:#0d0d0d;
}

#navbar .nav-btn{
    color:#fff ;
    border:none;
    background: #1D4ED8;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
#navbar .nav-btn:hover{
    background: #072a8b;
}

/* navbar css end */



/* hero-part css start */

#hero-part{
    background: url(../assets/banner.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
}

#hero-part .overlay{
    background: #000;
    opacity: 0.5;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#hero-part .text{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    z-index: 2;
    position: relative;
}

#hero-part .text h2{
    color:#fff;
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-top: 100px;
}

#hero-part .text p{
    color:#fff;
    opacity: 0.9;
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-top: 20px;
    width: 800px;
    margin: auto;
    line-height: 24px;
}

#hero-part .hero-btn{
    color:#fff ;
    border:none;
    background: #1D4ED8;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 250px;
    transition: 0.3s ease;
}
#hero-part .hero-btn:hover{
    background: #072a8b;
    cursor: pointer;
}


/* hero-part css end */


/* speakers part start */

#speaker-part{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
#speaker-part h2{
    font-family: "Inter", sans-serif;
    font-size: 56px;
    font-weight: bold;
    color:#000102;
    text-align: center;
    padding: 80px 0 46px 0;
}
#speaker-part .speakers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

#speaker-part .speaker-card{
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    transition: all 0.3s ease;
}
#speaker-part .speaker-card:hover{
    border-color:#d7e4fa ;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#speaker-part .speaker-card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#speaker-part .speaker-card .img{
    width: 100%;
    height: auto;
}
#speaker-part .speaker-card .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
}
#speaker-part .speaker-card .text .title{
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;   
    color:#2563EB

}
#speaker-part .speaker-card .text h4{
    font-size: 20px;
    font-weight: 800;
    font-family: "Inter", sans-serif;   
    color:#0D1B2A

}
#speaker-part .speaker-card .text .designation{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;   
    color:#575757;
}
/* speakers part end */




/* price-part start */

#price-part{
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}
#price-part .title{
    font-size: 48px;
    font-weight: 800;
    font-family: "Inter", sans-serif; 
    text-align: center;  
    color:#0D1B2A;
    padding-bottom: 12px;
}
#price-part .sub-title{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    text-align: center;  
    color:#575757;
}
#price-part .price-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
    padding-bottom: 30px;
    gap: 20px;
}
#price-part .price-card .price{
     border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 32px;
    transition: all .3s ease;
}


#price-part .price-card .price:hover{
    scale: calc(.97);
}
#price-part .price-card .price p{
    font-size: 13px;
    font-weight: 600;
    font-family: "Inter", sans-serif; 
    color:#888888;
}
#price-part .price-card .price h5{
    font-size: 44px;
    font-weight: 800;
    font-family: "Inter", sans-serif; 
    color:#0D1B2A;
    padding: 5px 0;
}
#price-part .price-card .price .person{
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    color:#888888;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}

#price-part .price-card ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 30px;
}
#price-part .price-card ul li{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    color:#333333;
}
#price-part .price-card ul li::marker{
    color:#2563EB;
}
#price-part .price-card .btn{
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif; 
    color:#2563EB;
    border: 1px solid #0D1B2A;
    background: transparent;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#price-part .price-card .btn:hover{
        border: 1px solid #2563EB;
}


/* middle card */
#price-part .price-card .price-middle{
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 32px;
    background: #0D1B2A;
    transition: all .3s ease;
}

#price-part .price-card .price-middle:hover{
    scale: calc(.97);
}

#price-part .price-card .price-middle p{
    font-size: 13px;
    font-weight: 600;
    font-family: "Inter", sans-serif; 
    color:#93C5FD;
}
#price-part .price-card .price-middle h5{
    font-size: 44px;
    font-weight: 800;
    font-family: "Inter", sans-serif; 
    color:#ffffff;
    padding: 5px 0;
}
#price-part .price-card .price-middle .person{
    font-size: 13px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    color:#ffffff;
    opacity: 60%;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}


#price-part .price-card .price-middle ul li{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    color:#ffffff;
    opacity: 80%;
}
#price-part .price-card ul li::marker{
    color:#2563EB;
}
#price-part .price-card .price-middle .btn{
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif; 
    color:#ffffff;
    border: 1px solid #2563EB;
    background: #2563EB ;
    padding:10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}


/* price-part end */


/* ai part start */



/* Venue Section Styling */


.section-title-container {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
}

.section-main-title {
  font-size: 46px;
  color: #0f172a;
  font-weight: 700;
  margin: 0 0 10px 0;
  letter-spacing: -0.5px;
}


.venue-section {
  padding: 80px 0 80px 0;
  background-color: #ffffff; 
  font-family: sans-serif;
}

.venue-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  /* border: 1px solid #E5E7EB; */
  box-shadow: 0px 2px 6px #E5E7EB;
  padding: 40px;
}

.venue-tag {
  color: #2563eb; 
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 10px;
}

.venue-info h2 {
  font-size: 36px;
  color: #0f172a; 
  margin: 0 0 20px 0;
  font-weight: 700;
}

.venue-description {
  font-size: 16px;
  color: #475569;
  line-height: 1.6;
  margin-bottom: 30px;
}

.venue-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-item {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.icon-box {
  background-color: #eff6ff; 
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
}

.detail-item h3 {
  font-size: 18px;
  color: #0f172a;
  margin: 0 0 5px 0;
}

.detail-item p {
  font-size: 14px;
  color: #64748b;
  margin: 0;
}

/* Map Wrapper */
.venue-map {
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}


/* ai part end */




/* footer part start */

#footer-part{
    background: #0D1B2A;
}

#footer-part .footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
#footer-part .footer ul{
    display: flex;
    gap: 10px;
}
#footer-part .footer ul li{
    list-style: none;
}
#footer-part .footer ul li a{
    font-size: 24px;
}

#footer-part .footer ul li .facebook{
    color: #0065eae9;
}
#footer-part .footer ul li .linkedin{
    color: #0b6ccd;
}
#footer-part .footer ul li .instagram{
    color: #E4405F;
}
#footer-part .footer ul li .twitter{
    color: #1DA1F2;
}




#footer-part hr{
    border: none;
    border-top: 1px solid #575757;
    width: 1200px;
    margin: auto;
}

#footer-part .footer-bottom{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}


#footer-part .footer-bottom p{
     font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    color:#ffffff;
    opacity: 40%;
}

#footer-part .footer-bottom ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
}
#footer-part .footer-bottom ul li{
    list-style: none;

}

#footer-part .footer-bottom ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    color:#ffffff;
    opacity: 40%;
    text-decoration: none;
}

/* footer part end */